@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: white;
    padding: 1rem;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    background-color: navy;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-right: 1rem;
    color: white;
    text-decoration: none;
}

.nav__link {
    padding-left: 16px;
    text-decoration: none;
}

/* INDREDIENTS */

.container {
    padding-top: 2rem;
}
.ingre--fill {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.bb__img {
    
}

/* NOTES */

.note__container {
    display: flex;
    flex-direction: column; 
}

.note {
    padding: 1rem 0;
}

/* INSTRUCTION */

.instruction__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instruction__header {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.step__container {
    
}

.step {
    
    padding: 1rem;
}

/* NUTRITION */

.nutrition__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nutritions {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.nutrition {
    list-style-type: none;
    margin: 24px;
}