@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: white;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    padding: 1rem;
}

.nav__links {
    display: flex;
    list-style-type: none;
    text-decoration: none;

}

.nav__link {
    padding-left: 16px;
}

/* DESCRIPTION */

.land-cont {
    width: 50%;
}
.descriptions {
    justify-content: center;
    align-items: center;
    padding: 24px
}

.description {
    padding-top: 1rem;
}

.peanutimg {
    width: 50%;
}

/* TIMES */ 


.time__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.time__header {
}

.times {
    padding: 50px;
}

.times__container {
    display: flex;
}
/* INGREDIENTS */

.ingre__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.ingredients {
    padding: 24px;
}

.ingredient {
    padding: 8px;
}
/* instructions */ 

.instru___container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instruction {
    padding: 24px;
}

/* Equipment */ 

.equipment___container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

/* NOTES */ 

.note__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notes__description {
    margin: 24px;
}

.notes {
    padding: 24px 48px;
}